/* #region Common */
*
{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body
{
        font-family: Arial, Helvetica, sans-serif;
}

:root
{
        --discord-primary-color: #3161E0;
        --discord-secondary-color: #8EA1E1;
        --discord-footer-text: #7289DA;
        --discord-black: #23272A;
        --discord-white: #ffffff;
        --discord-wave: #F6F6F6;
}

.container
{
        width: 80%;
        max-width: calc( 96 * 12px );
        display: flex;
        margin: auto;
}

a
{
        color: var(--discord-white);
        text-decoration: none;
}

img
{
        width: 100%;
}

/* #endregion Common */


/* #region Debug */
.debug .logo, .debug .nav, .debug .login 
{
        height: 80px;
        border: 1px solid red;
}

/* #endregion Debug */


/* #region Utility */
.justify-content-space-between
{
        justify-content: space-between;
}

.btn
{
        padding: 0.5rem;
        border-radius: 1rem;
}



.d-flex
{
        display: flex;
}

.color-text
{
        color: var(--discord-white);
}

[class^="nav-"]
{
        padding: 1.5rem;
}
.align-items-center
{
        align-items: center;
}

/* #endregion Utility */


/* #region Header */
header
{
        background-color: var(--discord-primary-color);
}


.login
{
        text-align: end;
}

.login > .btn
{
        font-size: 1rem;;
}

/* #endregion Header */


/* #region Jumbotron */
.jumbotron
{
        width: 100%;
        background-size: cover;
        position: relative;
}

.jumbo-title
{
        position: absolute;
        top: 16%;
        left: 33%;
        font-size: 4rem;
        font-weight: bold;
}

.jumpo-paragraf
{
        position: absolute;
        top: 35%;
        left: 27%;
        width: 47%;
        font-size: 1.5rem;
        text-align: center;
        line-height: 2.2rem;
}

.row-btn-lg
{
        width: 50%;
        position: absolute;
        left: 50%;
        top: 60%;
        border:1px solid red;
}




/* #endregion Jumbotron */





/* #region Main */

/* #endregion Main */


/* #region Footer */

/* #endregion Footer */