/* #region Common */
*
{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body
{
        font-family: Arial, Helvetica, sans-serif;
}

:root
{
        --discord-primary-color: #3161E0;
        --discord-secondary-color: #8EA1E1;
        --discord-footer-text: #7289DA;
        --discord-black: #23272A;
        --discord-white: #ffffff;
        --discord-wave: #F6F6F6;
}

.container
{
        width: 80%;
        max-width: calc( 96 * 12px );
        display: flex;
        margin: auto;
}

a
{
        color: var(--discord-white);
        text-decoration: none;
}

img
{
        width: 100%;
}

.row
{
        width: 100%;
        display: flex;
        margin-top: 4rem;
        margin-bottom: 4rem;
}


/* #endregion Common */


/* #region Debug */
.debug .logo, .debug .nav, .debug .login 
{
        height: 80px;
        border: 1px solid red;
}

/* #endregion Debug */


/* #region Utility */
.justify-content-space-between
{
        justify-content: space-between;
}

.btn
{
        padding: 0.5rem;
        border-radius: 1rem;
}
.p-l-7
{
        padding-left: 7rem;
}
.bg-black
{
        background-color: var(--discord-black);
}

.color-wave
{
        color: var(--discord-wave);
}
.bg-wave
{
        background-color: var(--discord-wave);
}

.div-wave
{
        color: var(--discord-wave);
        margin-bottom: -0.2rem;
}
.div-wave-bottom
{
        color: var(--discord-wave);
        transform: rotate(180deg);
        margin-top: -0.25rem;
}

.d-flex
{
        display: flex;
}

.color-text
{
        color: var(--discord-white);
}

[class^="nav-"]
{
        padding: 1.5rem;
}
.align-items-center
{
        align-items: center;
}

.col-5
{
        width: calc((100% / 12) * 5);
        padding: 0 0.5rem;
}

.col-7
{
        width: calc((100% / 12) * 7);
        padding: 0 0.5rem
}

.col-7 img
{
        padding-top: 4rem;
}

.col-5 .col-title
{
        padding-top: 6rem;
}


/* #endregion Utility */


/* #region Header */
header
{
        background-color: var(--discord-primary-color);
}


.login
{
        text-align: end;
}

.login > .btn
{
        font-size: 1rem;;
}

/* #endregion Header */


/* #region Jumbotron */
.jumbotron
{
        width: 100%;
        background-size: cover;
        position: relative;
}

.jumbo-title
{
        position: absolute;
        top: 16%;
        left: 33%;
        font-size: 4rem;
        font-weight: bold;
}

.jumpo-paragraf
{
        position: absolute;
        top: 35%;
        left: 27%;
        width: 47%;
        font-size: 1.5rem;
        text-align: center;
        line-height: 2.2rem;
}

.row-btn-lg
{
        width: 34%;
        position: absolute;
        left: 33%;
        top: 54%;
}

.btn-lg
{
        font-size: 1.6rem;
        padding: 1.2rem;
        border-radius: 2.4rem;
}



/* #endregion Jumbotron */





/* #region Main */
.col-title
{
        font-size: 2.5rem;
        font-weight: bold;
        padding-bottom: 2rem;
}
.col-paragraph
{
        font-size: 1.3rem;
}
/* #endregion Main */


/* #region Footer */

/* #endregion Footer */